*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Arial, sans-serif;
    /* background: ; */
    caret-color: red;  /*  akantu kubwenge */
    color: Soft Silver (#D4D4DC)        ;

}

html,body{
    scroll-behavior: smooth;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    width: 7px;
}
::-webkit-scrollbar-track{
    background: #d1e5ff;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(green,yellow);
}
body{
    font-family: Arial, sans-serif;
 
    background-color: #1c1e25;
    background-size: cover;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}
.container {
    width: 100%;
    height: 13vh;
    /* background: red; */
}

.nav-for-phones{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    text-align: center;
    font-size: 20px;
    position: absolute;
    bottom: 0;
    position: fixed;
    z-index: 100;
    width: 100%;
    padding: 10px;
    display: none;
    text-decoration: none;
    cursor: progress;
    a{
        color: white;
    }
    p{
        font-size: 16px;
    }
}
.nav-for-phones:hover{
    color: #007bff;
}
.nav-bar {
    /* display: none; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    position: fixed;
    width: 100%;
    z-index: 2;
    
    backdrop-filter: blur(.7rem); /*  akantu kubwenge on navbar */
    /* border-bottom: 1px solid red; */
    /* padding-left: 10rem; */
    
    color: #fff;
    .accountnotfication{
        display: flex;
        align-items: center;
        /* justify-content: space-evenly; */
        .fa-bell{
            font-size: 1.5rem;
            margin-right: .5rem;
            cursor: pointer;
        }
        button{
            margin-left: .8rem;
            padding: .4rem;
            border-radius: 7px;
            border: none;
            background: #1DA1F2;
            cursor: pointer;

        }
        .acc{
            width: 30px;
            border-radius: 50%;
        }
    }
    .logo{
        span{
            color: red;
        }
    }
}

.logo h2 {
    font-size: 24px;
    color: #fff;
}

.links {
    display: flex;
    gap: 30px;
    padding-left: 60px;
[title]{
    color: #9b0d0d;
}
    
}

.links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
   
}
.links a:hover {
    color: #f1c40f; /* Change to your preferred hover color */
    border-bottom: 2px solid #f1c40f; /* Adds an underline effect on hover */
}

.whataspp{
    /* float: left;     akantu kubwenge wllh */
    /* margin-top: 33rem; */
    position: absolute;
    /* top: 0; */
    width: 50%;
    position: fixed; 
    padding-left: 1.5rem;
    border-radius: 50%;
    z-index: 900;
    bottom: 5%;
    i{
        color: white;
        font-weight: 900;
        font-size: 2em;
        
    }

}
.whataspp .tsap {
    display: flex;
    align-items: center;
    justify-content: center;
    background: green;
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    z-index: 1000;
    
    /* margin-top: 20rem; */
   
}

/* --------search ---------- */
.search-bar{
    display: flex;
    align-items: center;
    justify-content: center;
     background: black; /*  akantu kubwenge */
    padding: 0.5rem;
    border-radius: 0.5rem;
    opacity: .7;
    backdrop-filter: blur(5rem);
    input{
        width: 0;
        border: none;
        outline: none;  /*  line on the input */
        transition: .8s;
        background: transparent;
        color: rgb(255, 255, 255);
        font-weight: 700;


    }
    a{
        color: red;

    }
   
}
.search-bar:hover input{
    width: 15rem;
}
input:focus{
    outline: none;
}

/* ---------------home---------- */
/* display: flex; */
.title1{
    display: block;
    color: white;
    padding-left: 1.5rem;
}
.abasobanuzi{
    img{
        border-radius: 50%;
        object-fit: cover;
        clip-path: circle();
        border: white ;
        width: 10rem;
        height: 10rem;
        /* gap: 1rem; */
    }
    h2{
        font-size: 1.1rem;
        font-weight: 700;
        font-family: 'poppins' sans-serif;
       padding-left: 1rem;
       text-align: center;
    }
    .Yanga,.rocky,.Junior,.Sankara,.Gaheza,.Pique,.Yakuza,.Savimbi,.BTheGreat,.Sinior,.Fred,.lee{
        transition: .7s;
        border-radius: 7px;
        height: 14rem;
        cursor: pointer;
        /* display: flex; */
    }
    .Yanga:hover,.rocky:hover,.Junior:hover,.Sankara:hover,.Gaheza:hover,.Pique:hover,.Yakuza:hover,.Savimbi:hover,.BTheGreat:hover,.Sinior:hover,.Fred:hover,.lee:hover{
        background: #26272d;
        cursor: pointer;

    }

    
}


/* ----------------sites--------------- */
 .title2{
    color: white;
    font-weight: 900;
    font-size: 3rem;
 }
 .movieSites{

    img:hover{
        /* width: 7rem;
        height: 7rem; */
        transform: scale(1.1);
    } 
    h3{
        color: white;
    }

   
 }

 /* --------------second drop down------------- */
.second {
    padding: 20px;
    /* background-color: #f9f9f9; */
    /* border: 2px solid #ddd; */
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    /* justify-content: space-between; */
    color: white;
    button{
        margin-top: 25px;
        background: rgb(0, 168, 0);
        width: 6rem;
        height: 2.5rem;
        text-align: center;
        font-size: 1rem;
        padding: 10px 10px;
        border: none;
        border-radius: 10px;

    }
    button:hover{
        background: greenyellow;
        cursor: progress;
    }
  }
  .all{
    text-decoration: underline;
    text-decoration-color: wheat;
    font-size: 1.4rem;
    color: red;
  }
  
  /* Navigation list styles */
  ul.likenavs {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
  }
  
  ul.likenavs li {
    cursor: pointer;
    text-align: center;
    /* padding: 10px 20px; */
    /* background-color: #ddd;
    border-radius: 4px;
    transition: background-color 0.3s ease; */
  }
  
  ul.likenavs li:hover {
    text-decoration: underline;
  }
  
  /* Form and label styles */
  form {
    /*flex: 1 1 calc(33.33% - 20px);  Flex basis to ensure forms align well */
    min-width: 10rem;/*  Minimum width to maintain layout on smaller screens */
  }
  
  label {
    font-weight: bold;
    /* margin-bottom: 0; */
    display: block;
  }
  
  /* Dropdown styles */
  select {
    width: 15rem;
    padding: 10px;
    /* background: gray; */
    /* margin: 10px 0; */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    transition: border-color 0.3s ease;
  }
  
  select:focus {
    border-color: #4285f4;
    outline: none;
  }
  
/* -------------------------play button------------ */
.fa-play{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centers icon */
    font-size: 2rem; /* Adjust icon size */
    color: white; /* Icon color */
    background: rgba(0, 0, 0, 0.5); /* Optional: Adds a semi-transparent background */
    text-align: center;
    padding: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    opacity: 0;

}
/* --------------------------add to watch list btn-------- */
  .fa-plus{
    position: absolute;
    bottom: 17%;
    left: 15%;
    transform: translate(-50%, -50%); /* Centers icon */
    font-size: 2rem; /* Adjust icon size */
    color: white; /* Icon color */
    border: 1px solid white;
    text-align: center;
    padding: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    opacity: 1;

  }  
/* ---------drama------------------------- */
.genretitle-leftRightbtns,
.abasobanuzititle-leftRightbtns,
.movie-sites-leftRightBtns{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .left-right-buttons{
        display: flex;
        gap: 1rem;
        margin-right: 1rem;
        button{
     border: none;
     background: transparent;
     font-weight: 900;
     font-size: 1.8rem;
     transition: .4s;
     color: white;
     width: 50px;
     height: 50px;
     border: 1px solid whitesmoke;
     border-radius: 50%;
     align-items: center;
     justify-content: center;
        }
    }

}
.drama-contents,
.war-contents,
.anime-contents,
.action-contents,
.recent-contents,
.popular-contents,
.all-abasobanuzi-container,
.movie-sites-container{
     overflow-y: hidden;
     overflow-x: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */ 
    display: flex;
    width: 100%;
    gap: 2rem;
    position: relative;
    .ribbon{
 font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
 /* font-size: 16px; */
 position: absolute;
 /* left: -10px; */
 /* top: -10px; */
 /* background:rgb(185, 28, 28); */
 color:  rgb(249, 250, 251);
 width: 150px;
 height: 150px;
 overflow: hidden;

}
.ribbon span{
 position: absolute;
 width: 420px;
  height:20px ;
 background-color: rgb(185, 28, 28) ;
 transform: rotate(-45deg);
 top: -40;
  left: -9.9rem;
 text-align: center;
 padding-right: 3.9rem;
}
#movieName{
 padding: 10px 0 0 15px;
 color: 
 rgb(249, 250, 251);
 font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
 font-weight: 600;
}
#realsedDate{
 padding: 4px 0 0 15px;
 color: rgb(115, 115, 115);
 font-weight: 400;
 font-size: 12px;
}

 }
.dramtitle,
.wartitle,
.animetitle,
.actionTitle,
.recentTitle,
.popularTitle
{
    color: white;
    font-weight: 900;
    font-size: 2.2rem;
    margin-left: 1rem;
}
.abasobanuzi{
    /* background-color: #007bff; */
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
    color: white;
    .abasobanuzi-title{
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: 2.2rem;
    margin-left: 1rem;

    }
}
.movieSites{
    /* background-color: #007bff; */
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
    img{
        width: 7rem;
        height: 7rem;
    }


}
.drama,
.war,
.anime,
.action,
.recent,
.popular{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
   
     img{
        width: 15rem;
        height: 20rem;
        border-radius: 5px;
     }
     .drama-movie-container,
     .war-movie-container,
     .anime-movie-container,
     .action-movie-container,
     .recent-movie-container,
     .popular-movie-container
    {
        background:  rgb(64, 64, 64);
        height: 25rem;
        border-radius: 5px;
        position: relative;

        /* transition: transform 0.5s; */

     }   
    }
    .drama-movie-container:hover,
    .war-movie-container:hover,
    .anime-movie-container:hover,
    .action-movie-container:hover,
    .recent-movie-container:hover,
    .popular-movie-container:hover{
       cursor: progress;
    }
     button{
        background-color: #007bff;
        color: black;
        backdrop-filter: blur(.7rem);
        display: flex;
    }
        .drama-movie-container:hover .fa-play,
    .war-movie-container:hover .fa-play,
    .anime-movie-container:hover .fa-play,
    .action-movie-container:hover .fa-play,
    .recent-movie-container:hover .fa-play,
    .popular-movie-container:hover .fa-play{

    opacity: 1;
}
.popular-contents::-webkit-scrollbar,
.recent-contents::-webkit-scrollbar,
.action-contents::-webkit-scrollbar,
.anime-contents::-webkit-scrollbar,
.war-contents::-webkit-scrollbar,
.drama-contents::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

/* -------------download--------------- */
.download{
    background: rgb(96, 96, 95);
    display: flex;
    gap: 3rem;
    /* height: 12rem; */
    align-items: center;
    /* padding-left: 2rem; */
    flex-wrap: wrap;
    padding: 2rem;
    img{
        width: 7rem;
        height: 4rem;
    }
    .google{
        width: 13rem;
        height: 4rem;

    }
    .app{
        width: 12rem;
        height: 4rem;
    }
    .logo{
        color: red;
        /* mix-blend-mode: color; */
    }
    .playstation{
        /* mix-blend-mode: darken; */
    }
    .alu{
        width: 10rem;
        /* mix-blend-mode: darken; */
    }
}
/* ----------footer----------------------- */
.footer{
    display: flex;
    gap: 4rem;
    padding-left: 2rem;
    flex-wrap: wrap;
}
.container1{
    color: white;
    img{
        width: 3rem;
        height: 4rem;
    }
    .site{
        display: flex;
        color: red;
    }
    input{
        width: 12rem;
        height: 1.5rem;
        border-radius: 10px;
        border: #000000 solid 1px;
        caret-color: red;
        background: #26272d;
        color: #d1e5ff;
        padding: 1rem;
        
        
    }
    .Redeem{
        background: #4CAF50;
        padding: 7px;
        border: black solid 1px;
        border-radius: 9px;
        cursor: progress;
    }
    .Redeem:hover{
        background: green;
        box-shadow:4px 4px 4px 4px #022810;
    }
    .sites{
        display: flex;
        gap: 2rem;

        .fa-facebook{
            color: blue;
            
        }
        .fa-linkedin{
            color: aqua;
        }
        .fa-instagram{
            background: linear-gradient(45deg, #FEDA75, #FA7E1E, #D62976, #962FBF, #4F5BD5);

        }
        fa-square-x-twitter{
            background: linear-gradient(90deg, #000000, #1DA1F2, #FFFFFF);

        }

    }
  

}
/* -----------container2-------------- */
.container2{
    color: white;
    h1:hover{
        text-decoration: underline;
        text-decoration-color: #1DA1F2;
        color: wheat;
        text-underline-offset: 10px;
        text-decoration-thickness: 4px;
       
    }
    p:hover{
        color: wheat;
        text-decoration: underline;
        cursor: pointer;
    }
}
/* --------------------container3----------------- */
.container3{
    color: white;
    
    h1:hover{
        text-decoration: underline;
        text-decoration-color: #1DA1F2;
        color: wheat;
        text-underline-offset: 10px;
        text-decoration-thickness: 4px;
       
    }
    p:hover{
        color: wheat;
        text-decoration: underline;
        cursor: pointer;
    }
    a{
        color: rgb(173, 153, 153);
    }
}
/* --------------container4-------------- */
.container4{
    color: white;
    /* background-color: #007bff; */
    h1:hover{
        text-decoration: underline;
        text-decoration-color: #1DA1F2;
        color: wheat;
        text-underline-offset: 10px;
        text-decoration-thickness: 4px;
       
    }
    input{
        width: 17rem;
        height: 2rem;
        background: #26272d;
        padding: 1rem;
        border: #000000 solid 1px;
        border-radius: 10px;
    }
    textarea{
        width: 17rem;
        padding: 1rem;
        background: #26272d;
        border: #000000 solid 1px;
        border-radius: 10px;
        resize: none;

    }
    button{
        background: #4CAF50;
        padding: 7px;
        border: black solid 1px;
        border-radius: 9px;
        cursor: progress;
    }
    button:hover{
        background: green;
        box-shadow:4px 4px 4px 4px #022810;
    }


}
/* ------------------------fo0ter--------------------- */
footer{
    background:  #111111;
    color: white;
    height: 5rem;
    display: flex;
    align-items: center;
    align-content: center;
   padding-left: 7rem;
    span{
        color: blue;
    }
}
/* --------------------reponsiveness----------------- */
@media screen and (max-width: 700px) {
  body {
    font-size: 14px;
  }
  
  .nav-bar {
    /* background-color: #1DA1F2; */

    .links {
      display: none;
  
    }
    .accountnotfication{
      display: none;
    }
  }
  .nav-for-phones{
    display: flex;
  }
  select{
    /* background-color: #007bff; */
    width: 18rem;
  }
  .abasobanuzi{
    img{
        width: 7rem;
        height: 7rem;
    }
  }
  .sites .fa-brands{
    font-size: 3rem;


  } 
  .popular,
  .recent,
  .action,
  .anime,
  .war,
  .drama{
   img{
        width: 10rem;
        height: 15rem;
        z-index: 999;
        border-radius: 5px;
    }
     .drama-movie-container,
     .war-movie-container,
     .anime-movie-container,
     .action-movie-container,
     .recent-movie-container,
     .popular-movie-container{
        background: rgb(64, 64, 64);
       height: 20rem;
       border-radius: 5px;
       gap: 1rem;
       transition: transform 0.5s;
       position: relative; 
    }
}
.title1,
.title2,
.popularTitle,
.recentTitle,
.actionTitle,
.animetitle,
.wartitle,
.dramtitle{
 font-size: 22px;
}
.left-right-buttons{
display: flex;
gap: 1rem;
margin-right: 1rem;
/* background-color: #4F5BD5; */
}
.left-right-buttons button {
font-size: 1rem !important;
width: 35px !important;
height: 35px !important;

}
    

}